{% extends "base.html" %}
{% load static %}
{% block content %}
<main id="main" class="sample-project more">
  <section class="phil">
    <div class="wrapper-phil p-3" data-aos="fade-up">
      <div class="row">
        <div class="col-12" style="padding-right: 0px;">
          <table class="table">
            <tbody>
            <tr>
              <td>
                <div class="wrapper" style="padding: 0px !important;">
                  <div class="row">
                    <div class="col-lg-6 px-lg-5 px-3">
                      <h1>Архитектурная форма и природа</h1>
                      <p>
                        <br>В настоящее время существуют множество сайтов по продаже готовых проектов индивидуальных домов.
                        Изначально базу готовых домов начали вести строительные компании для учетов проектов, далее включились менеджеры,
                        которые увидели в этом прибыльный маркетинг для строительных компаний.
                        Маркетинговый ход заключается в следующем: создается большая база проектов домов сделанные за прошедшие годы проектными компаниями,
                        выкладываются обзор покупателю на определенную площадку с надстроенными фильтрами по стилистике, этажности и других корректировок.
                        Готовые проекты предлагаются клиентам для привлекательности по более низким ценам (на практике 20-30% ниже рынка).
                        Проект разделен как правило на разделы проектирования (эскизный и архитектурно-строительный).
                        При покупки готового проекта, покупателю предлагается строительная компания, которая реализует данный объект по купленной документации.<br><br>
                        Исходя из вышеперечисленного, строительные фирмы получают прибыль с проданного проекта (где процент отдают менеджерам площадки),
                        но главное получают готового клиента на строительства дома, где совершенно другие деньги.
                        Менеджеры данных площадок уверяют, что при покупке готовых проектов все в выигрыше – строители получают возможного клиента,
                        а покупатель приобретает готовую проектную документацию за низкую цену и не тратит время на проектирование.
                      </p>
                    </div>
                    <img src="{% static 'img/info/finished-01.webp' %}" class="col-lg-6" alt="">
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="wrapper" style="padding: 0px !important;">
                  <div class="row">
                    <h1></h1>
                    <div class="col-lg-6 px-lg-5 p-3">
                      <p>
                          <strong>Рассмотрим обратную сторону данного процесса:</strong><br><br>
                          - проект, который вы покупаете проектировался под определенный земельный участок, под определенные инсоляционные условия,
                          которые отличаются от вашего. Надо учитывать, что инсоляция одно из важных факторов для архитекторов
                          при расположении проектируемого объекта на участке и зонирование планировки дома.
                          Неправильное расположение или неграмотная планировка дома в соответствии с вашим условиями может отрицательно сказаться
                          на вашу дальнейшую жизнь в этом доме (не хватка солнечного света в жилых комнатах, тепловые характеристики, сырость и др.);<br><br>
                          - в зависимости от региона строительства необходимо делать теплотехнический расчёт ограждающих конструкций.
                          Обычный человек не имеющий опыт в строительстве, может приобрести готовый проект дома не совместимый с его климатическими характеристиками региона.
                          На это влияет материал ограждающих конструкций, а также свойства и толщина утеплителя вашего дома;<br><br>
                          - если ваш земельный участок имеет рельефность, реализация купленного проекта дома может обойтись вам гораздо дороже,
                          так как проект не учитывает геодезию вашего земельного участка, а земельные работы – дорогое удовольствие;<br><br>
                          - геология вашего участка может быть не совместима с фундаментом указанного в купленном проекте;<br><br>
                          - строительные материалы, указанные в смете купленного проекта, могут не оказаться в вашем регионе,
                          придется искать альтернативные материалы или ждать доставки;
                        </p>
                    </div>
                    <div class="col-lg-6 px-lg-5 p-3">
                      <p>
                          Подводя итоги, можно сделать вывод, что большинство людей, которые не уверенные,
                          что готовый проект соответствует всем вышеперечисленным критериям,
                          при покупке документации частного дома потратят больше денег и время на строительство или на устранение ошибок в процессе,
                          чем человек, который проектируется под свой земельный участок, под свои климатические и инсоляционные условия,
                          с проектировщиками и архитекторами, которые могут дать необходимые консультации по вопросам проектирования дома.<br><br>
                          <strong>Наш совет – не стоит вестись на уловки маркетологов, на низкие цены или симпатичную картинку дома.
                            Проектирование – наиболее ценный раздел в строительстве, где цена составляет не более 6-7% от строительства,
                            ведь грамотный проект дома может сэкономить вам деньги и время с нервами, и наоборот купленный проект,
                            не дающий гарантии кем и как он сделанный, может удвоить вам затраты и время при его реализации.</strong>
                        </p>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="col-12" style="padding-bottom: 30px;">
        </div>
      </div>
    </div>
  </section>
</main>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
{% endblock %}