{% extends "base.html" %}
{% load static %}
{% load static %}
{% block content %}
<main id="main" style="background-color: #fff !important;">
  <section class="projects">
    <div class="sub_header">
      <div class="wrapper">
        <div class="row">
          <h2>Проекты</h2>
          <ul id="portfolio-flters">
            <li data-filter="*" class="filter-active">Все</li>
            <li data-filter=".filter-ind">ИЖС</li>
            <li data-filter=".filter-fasad">Фасады</li>
            <li data-filter=".filter-rc">ЖК</li>
            <li data-filter=".filter-com">Коммерческая недвижимость</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="portfolio-container" data-aos="fade-up">
      <div class="row">
        <div class="col-lg-4 col-md-6 portfolio-item filter-fasad">
          <div class="my-2">
            <a href="/projects/residential-complex-in-nakhodka">
              <img src="{% static 'img/project/01.webp' %}" class="img-fluid" alt="">
            </a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 portfolio-item filter-rc">
          <div class="my-2">
            <a href="/projects/river-park">
              <img src="{% static 'img/project/02.webp' %}" class="img-fluid" alt="">
            </a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 portfolio-item filter-ind">
          <div class="my-2">
            <a href="/projects/modern-house">
              <img src="{% static 'img/project/03.webp' %}" class="img-fluid" alt="">
            </a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 portfolio-item filter-ind">
          <div class="my-2">
            <a href="/projects/block-house">
              <img src="{% static 'img/project/04.webp' %}" class="img-fluid" alt="">
            </a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 portfolio-item filter-fasad">
          <div class="my-2">
            <a href="/projects/aljans">
              <img src="{% static 'img/project/05.webp' %}" class="img-fluid" alt="">
            </a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 portfolio-item filter-ind">
          <div class="my-2">
            <a href="/projects/one-story-house">
              <img src="{% static 'img/project/06.webp' %}" class="img-fluid" alt="">
            </a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 portfolio-item filter-ind">
          <div class="my-2">
            <a href="/projects/two-story-house">
              <img src="{% static 'img/project/07.webp' %}" class="img-fluid" alt="">
            </a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 portfolio-item filter-ind">
          <div class="my-2">
            <a href="/projects/recreation-center-in-krasno">
              <img src="{% static 'img/project/08.webp' %}" class="img-fluid" alt="">
            </a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 portfolio-item filter-ind">
          <div class="my-2">
            <a href="/projects/house-in-cottage-village">
              <img src="{% static 'img/project/09.webp' %}" class="img-fluid" alt="">
            </a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 portfolio-item filter-ind">
          <div class="my-2">
            <img src="{% static 'img/project/10.webp' %}" class="img-fluid" alt="">
          </div>
        </div>
        <div class="col-lg-4 col-md-6 portfolio-item filter-com">
          <div class="my-2">
            <img src="{% static 'img/project/11.webp' %}" class="img-fluid" alt="">
          </div>
        </div>
        <div class="col-lg-4 col-md-6 portfolio-item filter-com">
          <div class="my-2">
            <a href="/projects/administrative-building">
              <img src="{% static 'img/project/12.webp' %}" class="img-fluid" alt="">
            </a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 portfolio-item filter-ind">
          <div class="my-2">
            <img src="{% static 'img/project/13.webp' %}" class="img-fluid" alt="">
          </div>
        </div>
        <div class="col-lg-4 col-md-6 portfolio-item filter-ind">
          <div class="my-2">
            <a href="/projects/frame-house">
              <img src="{% static 'img/project/14.webp' %}" class="img-fluid" alt="">
            </a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 portfolio-item filter-fasad">
          <div class="my-2">
            <img src="{% static 'img/project/15.webp' %}" class="img-fluid" alt="">
          </div>
        </div>
        <div class="col-lg-4 col-md-6 portfolio-item filter-ind">
          <div class="my-2">
            <a href="/projects/high-tech">
              <img src="{% static 'img/project/16.webp' %}" class="img-fluid" alt="">
            </a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 portfolio-item filter-com">
          <div class="my-2">
            <img src="{% static 'img/project/17.webp' %}" class="img-fluid" alt="">
          </div>
        </div>
        <div class="col-lg-4 col-md-6 portfolio-item filter-fasad">
          <div class="my-2">
            <img src="{% static 'img/project/18.webp' %}" class="img-fluid" alt="">
          </div>
        </div>
        <div class="col-lg-4 col-md-6 portfolio-item filter-ind">
          <div class="my-2">
            <img src="{% static 'img/project/19.webp' %}" class="img-fluid" alt="">
          </div>
        </div>
        <div class="col-lg-4 col-md-6 portfolio-item filter-ind">
          <div class="my-2">
            <img src="{% static 'img/project/20.webp' %}" class="img-fluid" alt="">
          </div>
        </div>
        <div class="col-lg-4 col-md-6 portfolio-item filter-ind">
          <div class="my-2">
            <a href="/projects/one-story-house-in-vladivostok">
              <img src="{% static 'img/project/21.webp' %}" class="img-fluid" alt="">
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<script src="{% static 'filter/isotope-layout/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'filter/filtration.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
{% endblock %}