{% extends "base.html" %}
{% load static %}
{% block content %}
<main id="main" class="sample-project more">
  <section class="phil">
    <div class="wrapper-phil p-3" data-aos="fade-up">
      <div class="row">
        <div class="col-12" style="padding-right: 0px;">
          <table class="table">
            <tbody>
            <tr>
              <td>
                <div class="wrapper" style="padding: 0px !important;">
                  <div class="row">
                    <div class="col-lg-6 px-lg-5 px-3">
                      <h1>Макетирование в архитектуре</h1>
                      <p>
                        <br> С античных времен архитектурный макет использовался для проверки архитектурных и конструктивных решений
                        для поиска совершенного образа здания и одной из ключевых функций макета был и остается всегда демонстрация будущего объекта.
                        В первую очередь архитектурное макетирование развивает объемно-пространственное мышление,
                        а также позволяет выражать  свои идею заказчику в наглядном объеме здания.<br><br>
                        Основными материалами для макетирования – картон, бумага, дерево, пластилин, а также пенополистирол.
                        Некоторые специалисты считают, что построение цифровой 3д модели уступает по скорости и продуктивности создание чернового макета.<br><br>
                        Макеты подразделяются на предчистовые (рабочие или концептуальные макеты, без тщательной отделки,
                        для поиска образа здания или утверждение его с заказчиком.
                        Концептуальные макеты обладают различной степенью законченности и допускают возможность разнообразных переделок, как в деталях, так и в целом)
                        и чистовые (зрелищная экспозиция высокого качества.
                        Полное соответствие чертежам и высокая степень детализации, должна обладать максимальной реалистичностью,
                        минимумом ярких деталей при условии, если этого не требует проект).
                      </p>
                    </div>
                    <img src="{% static 'img/info/prototyping-01.webp' %}" class="col-lg-6" alt="">
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="wrapper" style="padding: 0px !important;">
                  <div class="row">
                    <h1></h1>
                    <img src="{% static 'img/info/prototyping-02.webp' %}" class="col-lg-12" alt="">
                    <div class="col-lg-6 px-lg-5 p-3">
                      <p>
                        Несмотря на продуктивность архитектурных макетов, среди архитектурных проектных организаций малосущественно кто занимается архитектурным макетированием.
                        На это есть основательные причины. Во-первых, это время, в проектирование всегда важны сроки на реализацию проекта
                        и не всегда у заказчика есть дополнительное время на архитектурный макет (так как макет занимает значительную часть времени на его создания).
                        Во-вторых – финансовая сторона вопроса так как макетирование считается трудоёмким процессом и стоимость его влияет на решение Заказчика.
                        В-третьих, с появлением современных программ для проектирования с возможностью предоставить заказчику цифровую
                        3д модель отстранило руководства архитектурных компаний от идеи макетов так как цифровой подход чище и проще
                        и не требует дополнительного пространства в мастерскую и расходов на материалы.<br><br>
                        Тем не менее, по мнению многих архитекторов, никогда архитектурное макетирование не заменит 3д моделирование,
                        так как совершенно по-другому воздействует на восприятие человека.
                      </p>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="col-12" style="padding-bottom: 30px;">
        </div>
      </div>
    </div>
  </section>
</main>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
{% endblock %}