{% extends "base.html" %}
{% load static %}

{% block content %}

  <main id="main">

    <section class="phil">
      <div class="wrapper-phil" data-aos="fade-up">
          <table class="table">
            <tbody>
              <tr>
                <td>
                  <div class="wrapper">
                    <div class="row">
                      <div class="col-xl-6 col-12">
                        <h1 style="border-bottom: 2px #000 solid;">Архитектурная форма и природа</h1>
                        <p>
                          <br>Интеграция архитектурной формы и природы проявляется во многом в данных аспектах:<br><br>
                          - конструктивно-тектоническом (изучении конструктивных систем и принципов устройства живых организмов и растений);<br><br>
                          - климатическом (изучении реакции природных форм на климат и использовании их в архитектуре);<br><br>
                          - эстетическом (исследовании эстетических свойств природных и архитектурных форм).<br><br>
                          Гостевой дом в Приморском крае возле бухты Рифовая сейчас находится на стадии реализации.
                          По замыслу архитекторов, дом и природа должны сливаться в единое гармоничное целое,
                          поэтому в конструкции нет острых углов и прямых линий — лишь плавные изгибы и округлые формы.
                          Дом имеет два этажа, на первом располагаются гостиная и кухня с санузлом, второй этаж состоит из двух спален.
                          Также имеется выход на открытую террасу с джакузи.<br><br>
                          Основная проблема - реализация остова здания (изогнутого контура стены).
                          Решение было найдено с помощью ребер жесткости и опалубки напечатанной 3д принтером.
                          Наличие 3д модели объекта позволило создать на 3д принтере опалубку точно повторяющаяся задуманной идее в проекте.<br><br>
                          Данные нетривиальные проектные решения позволяют придать дому уникальный эстетический стиль, свойственный туристическому бизнесу.
                        </p>
                      </div>
                      <img src="{% static 'img/info/nature-01.jpg' %}" class="col-xl-6 col-12" style="padding-top:50px;" alt="">
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="wrapper">
                    <div class="row">
                      <img src="{% static 'img/info/nature-02.jpg' %}" class="col-lg-6" alt="">
                      <div class="col-lg-6">
                        <p>
                          Владелец участка был вдохновлен знаменитым «домом-раковиной» японского архитектора Котаро Идэ
                          и вначале хотел возвести точную его копию.
                          Однако архитектор предложил адаптировать японский проект к русской среде и, в итоге, дом приобрел индивидуальность и самобытные черты.
                          На участке, площадью всего 18 соток, возникло строение, идеально вписанное в ландшафт — объем земляных работ составил более 500 куб.м.
                          Подрядчику пришлось изрядно поломать голову над способом заливки изогнутых стен.
                          Их даже предлагали печатать на строительном 3d-принтере.
                          Однако в итоге применили технологию, взятую из судостроения.
                          Возводили ребра жесткости, обивали их фанерой, конструкция укреплялась арматурой и заливалась бетоном.
                          Основная проблема — залить самую первую стенку, дальше все пошло намного легче.
                        </p>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>


      </div>
    </section>

  </main>

{% endblock %}