{% extends "base.html" %}
{% load static %}

{% block content %}

  <main id="main">

    <section class="phil">
      <div class="wrapper-phil" data-aos="fade-up">
          <table class="table">
            <tbody>
              <tr>
                <td>
                  <div class="wrapper" style='background-image: url("{% static "img/info/pk-bg.png" %}"); background-size: contain; background-position: center 30vh; width: 100%; height: 200vh; background-repeat: no-repeat;'>
                    <div class="row">
                      <div class="col-lg-6">
                        <h1 style="border-bottom: 2px #000 solid;">Архитектурный стиль в приморье</h1>
                        <h3>Статистика арх. стилей индивидуальных домов с 2020-2022 на основе нашего опыта и наших партнеров</h3>
                        <p>
                          <br>С 2020-2022 год в архитектурном бюро THE ARCH велась статистика по архитектурным
                          стилям индивидуального строительства жилых домов в Приморском крае.
                          На основе собранных данных, а также предоставленной информации от наших партнеров,
                          было произведен анализ по архитектурной стилистики 48 проектов, 33 из которых были реализованы.<br><br>
                          На основе данного анализа были выявлены наиболее популярные типы стилей домов у людей по Приморскому краю и представлены виде инфографики.<br><br>
                          Наиболее актуальным выбором среди архитектурных стилей по Приморью является дома из бруса на свайном фундаменте (37,5%).
                          Следующую строчку по популярности занимают дома в стиле классицизм и ренессанс из газобетона или пенобетона (22,9%).
                          Замыкают список рейтинга дома в стиле фахверк и барнхаус (4.1%).
                        </p>
                      </div>
                      <img src="{% static 'img/info/pk-01.jpg' %}" class="col-lg-6" alt="">
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
      </div>
    </section>

  </main>

{% endblock %}