{% extends "base.html" %}
{% load static %}

{% block content %}

  <main id="main">

    <section class="phil">
      <div class="wrapper-phil" data-aos="fade-up">
          <table class="table">
            <tbody>
              <tr>
                <td>
                  <div class="wrapper">
                    <div class="row">
                      <div class="col-lg-6">
                        <h1>Как измежать ошибок при покупке земельного участка</h1>
                        <p>
                          <br>В данной статье не будет рассматриваться юридическая часть приобретения земли или как составить договор купли-продажи.
                          Речь пойдет о предпроектном анализе при покупке в собственность земельного участка под строительство ИЖС.
                          Предпроектный анализ - сбор данных, включающие описание местоположения объекта в сложившейся градостроительной ситуации.
                        </p>
                      </div>
                      <img src="{% static 'img/info/mistakes.jpeg' %}" class="col-lg-6" alt="">
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="wrapper">
                    <div class="row">
                      <div class="col-lg-6">
                        <p>
                          При анализе будущей земли в собственность, необходимо обратить внимание на особо важные факторы:<br><br>
                          - <strong>Назначение участка и наличие обременений.</strong> Необходимо заранее заказать на Росреестре полноценную выписку из ЕГРН по номеру кадастрового участка.
                          Данный документ платный, но содержит расширенную информацию об участке и владельце.
                          С помощью выписки определить тип категории (назначение) и наличие обременений, если они есть.
                          Например, одно из обременений - по участку может пролегать охранная зона линии связи, в пределах которых запрещено капитальное строительство.<br><br>
                          - <strong>Площадь участка.</strong> Необходимо правильно сопоставить площадь участка с примерной площадью застройки вашего дома.
                          Так как существуют градостроительные нормы: отступы в 3 метра от границ участка, отступы в 5 метров от красных линий, обязательная площадь озеленения
                          (обычно 30% от площади участка), место под парковочные места. Все эти факторы влияют на площадь застройки вашего будущего дома.<br><br>
                          - <strong>Инсоляция.</strong> Необходимо обратить внимание на расположение данного участка по сторонам света,
                          т.е. определить не будет ли окружающая застройка или другие субъекты преграждать солнечный свет к вашему дому.
                        </p>
                      </div>
                      <div class="col-lg-6">
                        <p>
                          - <strong>Коммуникации.</strong> Необходимо заранее проанализировать земельный участок на наличие инженерных сетей:
                          электричество, центрального водоснабжение, канализация, а также на наличие подъездных путей к участку строительства.
                          Все эти факторы влияют не только на эксплуатацию дома, но и на затраты на его строительства.
                          Например, если на участке нет электричества, то при строительстве будут использоваться генераторы, что повлияет на стоимость реализации вашего дома.<br><br>
                          - <strong>Краснокнижные деревья.</strong> Необходимо определить наличие краснокнижных деревьев и кустарников,
                          так как их присутствие на участке повлияет на расположение проектируемого объекта и осложнит процесс строительства.
                          Оценка анализа всех этих немногих факторов сформулирует четкое представление о себестоимости земельного участка и подстрахует вас от непредсказуемых дополнительных расходов.
                        </p>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>


      </div>
    </section>

  </main>

{% endblock %}