{% extends "base.html" %}
{% load static %}

{% block content %}

  <main id="main">

    <section class="phil">
      <div class="wrapper-phil" data-aos="fade-up">
          <table class="table">
            <tbody>
              <tr>
                <td>
                  <div class="wrapper">
                    <div class="row">
                      <div class="col-lg-6">
                        <h1 style="border-bottom: 2px #000 solid;">Входные группы</h1>
                        <h3>Важность обустройства входной группы</h3>
                        <p>
                          <br>Входная группа здания – акцент объема или фасада, к которому в первую очередь проявляют интерес посетители,
                          особенно в общественных объектах. Внимательность и ответственность архитектора при проектировании
                          этого структурного узла общественного здания, который является одним из существенных планировочных компонентов,
                          важны и обязательны, ведь через  пространство входной группы осуществляются перемещения потока людей извне в основные помещения сооружения.<br><br>
                          Стилистика оформления входа в помещение может разниться в зависимости от назначения и экстерьера здания.
                          Только цель в каждом из существующих случаев преследуется одна – человек должен иметь возможность комфортно и безопасно войти в помещение.<br><br>
                          Входная группа, как правило, расположена на первом этаже.
                          Она бывает односторонней и сквозной.
                          Для создания более комфортных микроклиматических условий во входной группе может быть устроен тамбур.
                        </p>
                      </div>
                      <img src="{% static 'img/info/entry-01.jpg' %}" class="col-lg-6" alt="">
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="wrapper">
                    <div class="row">
                      <img src="{% static 'img/info/entry-02.jpg' %}" class="col-lg-6" alt="">
                      <div class="col-lg-6">
                        <p>
                          Несмотря на продуктивность архитектурных макетов, среди архитектурных проектных организаций малосущественно кто занимается архитектурным макетированием.
                          На это есть основательные причины. Во-первых, это время, в проектирование всегда важны сроки на реализацию проекта
                          и не всегда у заказчика есть дополнительное время на архитектурный макет (так как макет занимает значительную часть времени на его создания).
                          Во-вторых – финансовая сторона вопроса так как макетирование считается трудоёмким процессом и стоимость его влияет на решение Заказчика.
                          В-третьих, с появлением современных программ для проектирования с возможностью предоставить заказчику цифровую
                          3д модель отстранило руководства архитектурных компаний от идеи макетов так как цифровой подход чище и проще
                          и не требует дополнительного пространства в мастерскую и расходов на материалы.<br><br>
                          Тем не менее, по мнению многих архитекторов, никогда архитектурное макетирование не заменит 3д моделирование,
                          так как совершенно по-другому воздействует на восприятие человека.
                        </p>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>


      </div>
    </section>

  </main>

{% endblock %}