{% extends "base.html" %}
{% load static %}
{% block content %}
{% include "modal.html" %}
<main id="main" class="sample-project" style="background-color: #fff;" data-aos="fade-up">
  <section class="phil" style="padding-bottom: 0px;">
    <div class="wrapper-phil p-0 m-0">
      <div class="row">
        <div class="col-12" style="position: relative;">
          <img src="{% static 'img/service/fasad/hero.webp' %}" class="fasad-img" alt="">
          <img src="{% static 'img/service/fasad/contact_us.webp' %}" class="wu m-5" alt="" data-bs-toggle="modal" data-bs-target="#exampleModal" style="z-index: 5; cursor: pointer;">
        </div>
      </div>
    </div>
  </section>

  <section class="phil" style="padding-bottom: 0px;">
    <div class="wrapper-phil p-0 m-0">
      <div class="row">
        <div class="col-12">
          <img src="{% static 'img/service/fasad/body.webp' %}" style="max-width: 100%;" alt="">
        </div>
      </div>
    </div>
  </section>

  <section class="phil service" style="padding-bottom: 0px;">
    <div class="wrapper-phil p-0 m-0">
      <div class="row">
        <div class="col-12" style="background-color: #c9c9c9;">
          <div class="swiper sliderFeaturedPosts" data-aos="fade-in">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="img-bg d-flex align-items-end" style='background-image: url("{% static "img/service/fasad/pd_0.webp" %}"); background-size: 50%;'>
                  <div class="img-bg-inner">
                    <h2>
                    </h2>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div id="bg-image-alboum" class="img-bg d-flex align-items-end lazy"style='background-image: url("{% static "img/service/fasad/pd_1.webp" %}");'>
                  <div class="img-bg-inner">
                    <h2>
                    </h2>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div id="bg-image-alboum" class="img-bg d-flex align-items-end lazy" style='background-image: url("{% static "img/service/fasad/pd_2.webp" %}");'>
                  <div class="img-bg-inner">
                    <h2>
                    </h2>
                  </div>
                </div>
              </div>
            </div>
            <div class="custom-swiper-button-next mobile-sw-button" style='background-image: url("{% static "img/service/arrow-right.webp" %}");'>
            </div>
            <div class="custom-swiper-button-prev mobile-sw-button" style='background-image: url("{% static "img/service/arrow-left.webp" %}");'>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="phil" style="padding-bottom: 0px;">
    <div class="wrapper-phil p-0 m-0">
      <div class="row">
        <div class="col-12">
          <img src="{% static 'img/service/terminator.webp' %}" style="max-width: 100%;" alt="">
        </div>
      </div>
    </div>
  </section>
  <section class="phil service" style="padding-bottom: 0px;">
    <div class="wrapper-phil p-0 m-0">
      <div class="row">
        <div class="col-12" style="background-color: #c9c9c9;">
          <div class="swiper sliderFeaturedPosts" data-aos="fade-in">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="img-bg d-flex align-items-end" style='background-image: url("{% static "img/service/fasad/pd_3.webp" %}"); background-size: 50%;'>
                  <div class="img-bg-inner">
                    <h2>
                    </h2>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div id="bg-image-alboum" class="img-bg d-flex align-items-end lazy" style='background-image: url("{% static "img/service/fasad/pd_4.webp" %}");'>
                  <div class="img-bg-inner">
                    <h2>
                    </h2>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div id="bg-image-alboum" class="img-bg d-flex align-items-end lazy" style='background-image: url("{% static "img/service/fasad/pd_5.webp" %}");'>
                  <div class="img-bg-inner">
                    <h2>
                    </h2>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div id="bg-image-alboum" class="img-bg d-flex align-items-end lazy" style='background-image: url("{% static "img/service/fasad/pd_6.webp" %}");'>
                  <div class="img-bg-inner">
                    <h2>
                    </h2>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div id="bg-image-alboum" class="img-bg d-flex align-items-end lazy" style='background-image: url("{% static "img/service/fasad/pd_7.webp" %}");'>
                  <div class="img-bg-inner">
                    <h2>
                    </h2>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div id="bg-image-alboum" class="img-bg d-flex align-items-end lazy" style='background-image: url("{% static "img/service/fasad/pd_8.webp" %}");'>
                  <div class="img-bg-inner">
                    <h2>
                    </h2>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div id="bg-image-alboum" class="img-bg d-flex align-items-end lazy" style='background-image: url("{% static "img/service/fasad/pd_9.webp" %}");'>
                  <div class="img-bg-inner">
                    <h2>
                    </h2>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div id="bg-image-alboum" class="img-bg d-flex align-items-end lazy" style='background-image: url("{% static "img/service/fasad/pd_11.webp" %}");'>
                  <div class="img-bg-inner">
                    <h2>
                    </h2>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div id="bg-image-alboum" class="img-bg d-flex align-items-end lazy" style='background-image: url("{% static "img/service/fasad/pd_12.webp" %}");'>
                  <div class="img-bg-inner">
                    <h2>
                    </h2>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div id="bg-image-alboum" class="img-bg d-flex align-items-end lazy" style='background-image: url("{% static "img/service/fasad/pd_13.webp" %}");'>
                  <div class="img-bg-inner">
                    <h2>
                    </h2>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div id="bg-image-alboum" class="img-bg d-flex align-items-end lazy" style='background-image: url("{% static "img/service/fasad/pd_14.webp" %}");'>
                  <div class="img-bg-inner">
                    <h2>
                    </h2>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div id="bg-image-alboum" class="img-bg d-flex align-items-end lazy" style='background-image: url("{% static "img/service/fasad/pd_15.webp" %}");'>
                  <div class="img-bg-inner">
                    <h2>
                    </h2>
                  </div>
                </div>
              </div>
            </div>
            <div class="custom-swiper-button-next mobile-sw-button" style='background-image: url("{% static "img/service/arrow-right.webp" %}");'>
            </div>
            <div class="custom-swiper-button-prev mobile-sw-button" style='background-image: url("{% static "img/service/arrow-left.webp" %}");'>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="phil" style="padding-bottom: 0px; padding-top: 40px;">
    <div class="form-section">
      <div class="row">
        <div class="col-lg-12 contact-form">
          <h1>
            <a name="contact" style="text-decoration: none">
              Контакты
            </a>
          </h1>
          <p>
            Независимо от того, являетесь ли вы потенциальным клиентом,<br>
            владельцем бизнеса или поставщиком качественных строительных материалов,<br>
            мы всегда готовы помочь. Заполните форму ниже, чтобы связаться с нами.<br>
          </p>
          <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div>
              {% if messages %}
              {% for message in messages %}
              <div class="alert alert-success">
                <strong>{{ message }}</strong>
              </div>
              {% endfor %}
              {% endif %}
            </div>
            <div class="row">
              <div class="col-lg-4 col-sm-4">
                <div>
                  <label>Имя</label><br>
                  {{ form.first_name }}
                </div>
                <div>
                  <label>Email</label><br>
                  {{ form.email_address }}
                </div>
                <div>
                  <label>Город</label><br>
                  {{ form.city }}
                </div>
                <div>
                  <label>Телефон</label><br>
                  {{ form.phone }}
                </div>

                <div style="display: none">
                  <input type="radio" name="category" value="Другое" checked id="id_category_0">
                </div>
              </div>
              <div class="col-lg-8 col-sm-8">
                <div>
                  <label>Описание</label><br>
                  {{ form.message }}
                </div>
                <div>
                  <i class="bi bi-paperclip" >{{ form.file }}</i>
                </div>

                <button type="submit" class="btn py-2 px-5" style="color: #fff">Отправить сообщение</button>
                <p class="button-description">Данное сообщение будет отправленно на электронную почту компании TheArch.<br> Вам ответь в течении одного рабочего дня</p>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</main>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>
<script src="{% static 'vendor/aos/aos.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/test.js' %}"></script>
{% endblock %}